.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}

.top-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 0%, 0.2);

  button {
    font-size: 25px;
    margin: 20px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    cursor: pointer;
  }
}

.title {
  display: flex;
  align-items: center;

  h2 {
    margin-left: 10px;
  }

  p {
    font-size: 10px;
    margin-left: 10px;
  }
}

.main-chat {
  padding: 20px;
  height: 80%;
  overflow-y: auto;
}

.sender,
.receiver,
.heart-message {
  max-width: 700px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  clear: both;
  margin-left: 5px;
  margin-top: 10px;
}

.sender {
  background-color: rgb(103, 103, 190);
  color: white;
  float: left;

  .individual-message {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .message-emoji-span {
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: flex;
    width: 45px;
    cursor: pointer;
    border-radius: 10px;
  }
}

.receiver {
  background-color: rgb(97, 97, 97);
  color: white;
  float: right;

  .individual-message {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  .message-emoji-span {
    position: absolute;
    display: flex;
    width: auto;
    bottom: -20px;
    right: 0;
    width: 45px;
    cursor: pointer;
    border-radius: 10px;
  }
}

.bottom-chat {
  display: flex;
  height: 12%;
  padding: 20px;
  align-items: end;
  justify-content: center;

  input {
    width: 85%;
    height: 30px;
    background-color: rgba(95, 101, 112, 0.388);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    color: white;

    &:focus {
      outline: none;
      border: none;
    }
  }

  button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(56, 52, 68, 0);
    width: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}

.form {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: end;
}

#heart {
  color: red;
}

.heart-message {
  font-size: 30px;
}

.chatbox-avatar {
  position: relative;

  p {
    position: absolute;
    top: 60%;
    right: 0%;
    font-size: 20px;
  }
}

.chat-box-status-online {
  color: rgb(37, 243, 37);
}

.chat-box-status-offline {
  color: rgb(93, 93, 93);
}

.chat-box-status-away {
  color: rgb(141, 22, 22);
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  img {
    width: 500px;
    height: auto;
    border-radius: 0;
  }

  .sender {
    justify-content: flex-end;
  }

  .receiver {
    justify-content: flex-end;
  }
}

.message-text {
  flex-grow: 1; /* Ensures text takes available space */
  width: 60%;
}

.sender-message,
.receiver-message {
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  flex-shrink: 0;
  margin: 0px 10px;
  border-radius: 5px;
  position: absolute;
}

.sender-message {
  right: -250px;
}

.receiver-message {
  left: -200px;
}

.message-container:hover .sender-message,
.message-container:hover .receiver-message {
  visibility: visible;
}

.sender-message,
.receiver-message {
  button {
    margin: 0px 5px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 15px;
  color: silver;
}

.selected-image-preview {
  position: absolute;

  button {
    background-color: red;
    width: 10px;
    height: 10px;
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 0;
  }
}

.hide {
  display: none;
}

.message-emoji {
  position: relative;
  z-index: 1;
}

.emoji-container {
  display: none;
  position: absolute;
  bottom: -110%;
  left: -150px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(94, 94, 94);
  z-index: 1;

  p {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.message-emoji-sender-span {
  position: absolute;
  background-color: #7f7f7f;
  color: rgb(255, 255, 255);
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.sender-emoji {
  width: 100px;
  right: -100px;
  top: -40px;
}

.receiver-emoji {
  width: 100px;
  right: 20px;
  top: -40px;
}

.message-emoji-span:hover .message-emoji-sender-span {
  opacity: 1;
  display: flex;
}

#message-emoji {
  color: yellow;
}

#heart {
  color: red;
}

#smile-face {
  color: yellow;
}

#sad-face {
  color: yellow;
}

#laugh-face {
  color: yellow;
}

#angry-face {
  color: rgb(231, 96, 17);
}

.message-emoji:hover .emoji-container {
  display: flex;
}

.emoji-container p:hover {
  transform: scale(1.8);
}

.edit-mode-container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.edit-mode-container label {
  font-size: 15px;
}

#edit-input {
  color: rgb(30, 253, 253);
  height: 30px;
  width: 90%;
}

#cancel-edit-button {
  background-color: rgba(124, 97, 97, 0.466);
}

.reply-mode-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  word-break: break-word; // Added word-break property
}

.reply-info {
  width: calc(90% - 5px);
  border-left: 5px solid rgb(56, 56, 233);
  padding-left: 20px;
  margin-bottom: 10px;
  word-break: break-word; // Added word-break property
  background-color: #ffffff2c;

  h3 {
    font-weight: 500;
  }
}

.reply-function {
  width: 100%;
  display: flex;
  justify-content: space-between;
  word-break: break-word; // Added word-break property
}

#reply-input {
  height: 30px;
  width: 90%;
  word-break: break-word; // Added word-break property
}

#cancel-reply-button {
  background-color: rgba(124, 97, 97, 0.466);
}

.reply-message-container {
  display: flex;
  flex-direction: column;
}

.reply-info-container {
  background-color: hsla(0, 0%, 0%, 0.39);
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 15px;
  border-left: 5px solid rgba(255, 255, 255, 0.616);

  h4 {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.616);
  }

  h5 {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.616);
  }
}

.call-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.call-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 20px;
  width: 20%;
  height: 40%;
}
